/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* css variables */
:root {
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #292e33;
    --second-bg-color: #080808;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 0.5rem #12f7ff;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}

/* css */
body {
    background: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.logo span {
    color: var(--hover-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--second-bg-color);
    padding: 0 8%;
    box-shadow: var(--neon-box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li {
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: var(--hover-color);
}

.logo {
    font-size: 1.4rem;
}

/* menu icon css  */
.menu-icon {
    display: none;
}

.bx-menu {
    font-size: 1.8rem;
    cursor: pointer;
}

/* media queries  */
@media (max-width: 820px) {
    nav {
        padding-inline: 5%;
    }

    nav ul {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: var(--second-bg-color);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    nav ul li:first-child {
        padding-top: 10px;
    }

    nav ul li:last-child {
        padding-bottom: 20px;
    }

    .menu-icon {
        display: block;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .left-section,
    .hero-section .right-section {
        width: 100%;
    }
}

/* typed js css  */
#element {
    color: var(--hover-color);
}

/* hero-section  */
.hero-section {
    padding: 60px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .right-section {
    max-width: 500px;
    width: 100%;
}

.hero-section .right-section img {
    width: 100%;
}

.hero-section .left-section h1 {
    font-size: 2.5rem;
}

.hero-section .left-section h2 {
    font-size: 1.5rem;
    padding: 12px 0;
}

.hero-section .left-section p {
    font-size: 1.1rem;
    text-wrap: balance;
}
.right-section img{
    border-radius: 50%;
    box-shadow: var(--neon-box-shadow);
    margin: 4rem 0;
    transition: 0.3s all ease-in-out;
}
.right-section img:hover{
    box-shadow: var(--font-neon-text-shadow);
}
/* .hero-section .right-section img:hover{
    filter: drop-shadow(3px 3px 10px var(--font-neon-text-shadow));
} */

/* btn  */
.btn {
    padding: 14px 30px;
    background: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid var(--hover-color);
    color: var(--bg-color);
    font-weight: 700;
    font-size: 1.1rem;
    transition: all .5s ease-in-out;
}

.btn-box {
    margin-block: 12px;
}

.btn:hover {
    background: var(--bg-color);
    color: var(--hover-color);
    box-shadow: var(--font-neon-text-shadow);

}


/* social icons  */
.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.social-icons i {
    padding: .8rem;
    background: var(--hover-color);
    border: 3px solid var(--hover-color);
    color: var(--bg-color);
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.social-icons i:hover {
    background-color: var(--second-bg-color);
    color: var(--hover-color);
    box-shadow: var(--font-neon-text-shadow);
}



/* about section  */
.about-section h1 span {
    color: var(--hover-color);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    height: 100%;
    text-align: center;
    padding: 80px 8%;
    padding-top: 100px;
    gap: 1rem;
    background-color: var(--second-bg-color);

}

.about-section h1 {
    font-size: 3rem;
    font-weight: 700;
}

.about-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.about-section p {
    color: #bcbcbc;
    text-wrap: balance;
}
.about-section .btn{
    margin-top: 50px;
}

/* skill section  */
.skill-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
}

.skill-container .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.skill-container .left-section img {
    width: 80px;
}

.skill-container .right-section {
    width: 50%;
}

.skill-container .right-section .progress-container {
    width: 100%;
}

.skills-name-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;
    padding-top: 25px;
}

.line-background {
    background-color: var(--second-bg-color);
    height: 13px;
    width: 100%;
    margin-top: 8px;
    border-radius: 25px;
    overflow: hidden;
}

.line-background .line {
    height: 13px;
    border-radius: 25px;
    background: var(--hover-color);
    box-shadow: var(--neon-box-shadow)
}

.line-background .html {
    width: 72%;
    animation: html 2s linear;
}

.line-background .css {
    width: 64%;
    animation: css 2s linear;
}

.line-background .JavaScript {
    width: 82%;
    animation: JavaScript 2s linear;
}

.line-background .react {
    width: 92%;
    animation: react 2s linear;

}

.line-background .nodeJs {
    width: 50%;
    animation: nodeJs 2s linear;
}

@keyframes html {
    from {
        width: 0%;
    }

    to {
        width: 72%;
    }

}

@keyframes css {
    from {
        width: 0%;
    }

    to {
        width: 64%;
    }

}

@keyframes JavaScript {
    from {
        width: 0%;
    }

    to {
        width: 82%;
    }

}

@keyframes react {
    from {
        width: 0%;
    }

    to {
        width: 92%;
    }

}

@keyframes nodeJs {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }

}

/* portfolio section  */
.portfolio-section span {
    color: var(--hover-color);
}

.portfolio-section {
    background: var(--second-bg-color);
    padding: 60px 8%;
    padding-top: 100px;
}

.portfolio-section h2 {
    text-align: center;
    font-size: 3rem;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block: 30px;
}

.card {
    width: 250px;
    height: 300px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .layer {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3), var(--hover-color));
    opacity: 0;
    transition: all .5s;
}

.card:hover .layer {
    opacity: 1;
}

.card:hover .icon {
    opacity: 1;
}

.card .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card i {
    font-size: 1.1rem;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: white;
    color: #080808;
    transition: all .3s ease-in-out;
}

.card i:hover {
    background: var(--bg-color);
    color: var(--text-color);
}

/* contact section  */
.contact-section {
    padding: 80px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.contact-section span {
    color: var(--hover-color);
}

.contact-section h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

}

.contact-section form {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contact-section form input,
.contact-section form textarea {
    width: 100%;
    padding: 7px 20px;
    background: var(--second-bg-color);
    border-radius: 12px;
    color: white;
    border: 1px solid var(--hover-color);
}

.contact-section form textarea {
    height: 150px;
}

/* footer section  */
footer {
    background: var(--second-bg-color);
    padding: 20px 0;
    text-align: center;
}

/* back to top btn  */
.bxs-up-arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: var(--hover-color);
    color: var(--second-bg-color);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
}

.bxs-up-arrow:hover {
    box-shadow: var(--font-neon-text-shadow);
}